:root {
  --body-color: #FEF9F3;
  --main-light-color: #CDC8C2;
  --main-dark-color: #004A55;
  --text-dark-color: #201C1B;
  --text-light-color: #E8D9CA;
  --ms-tag-bg: var(--main-dark-color);
  --ms-font-size: 15px;
  --ms-dropdown-bg: var(--main-light-color);
  --ms-option-bg-pointed: var(--text-light-color);
  --ms-option-bg-selected: var(--main-dark-color);
  --ms-option-bg-selected-pointed: var(--main-dark-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-dark-color);
  background: var(--body-color);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  font-weight: normal;
  margin: 0 auto;
  padding-top: 100px;
}

button {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  color: var(--text-dark-color);
  transition: 0.3s ease all;
  text-align: center;
  background-color: var(--main-light-color);
}
button:hover {
  background-color: var(--main-dark-color);
  border: 3px solid var(--main-light-color);
  color: var(--text-light-color);
}